@font-face {
   font-family: 'URWDIN', sans-serif;
   src: url('../fonts/URWDIN-Black.woff2') format('woff2'),
        url('../fonts/URWDIN-Black.woff') format('woff');
      font-weight: 900;
      font-display: swap;
 }
 @font-face {
   font-family: 'URWDIN', sans-serif;
   src: url('../fonts/URWDIN-Bold.woff2') format('woff2'),
        url('../fonts/URWDIN-Bold.woff') format('woff');
      font-weight: 700;
      font-display: swap;
 }
 @font-face {
   font-family: 'URWDIN', sans-serif;
   src: url('../fonts/URWDIN-Regular.woff2') format('woff2'),
        url('../fonts/URWDIN-Regular.woff') format('woff');
      font-weight: 400;
      font-display: swap;
 }
// @font-face {
//      font-family: 'Versus';
//      src: url('../fonts/URWDIN-Bold.woff2') format('woff2'),
//          url('../fonts/URWDIN-Bold.woff') format('woff');
//      font-weight: bold;
//      font-style: normal;
//      font-display: swap;
//  }
// @font-face {
//      font-family: 'Versus';
//      src: url('../fonts/Versus-Medium.woff2') format('woff2'),
//          url('../fonts/Versus-Medium.woff') format('woff');
//      font-weight: 500;
//      font-style: normal;
//      font-display: swap;
//  }
  
//  @font-face {
//      font-family: 'Versus';
//      src: url('../fonts/Versus-Black.woff2') format('woff2'),
//          url('../fonts/Versus-Black.woff') format('woff');
//      font-weight: 900;
//      font-style: normal;
//      font-display: swap;
//  }
 
//  @font-face {
//      font-family: 'Versus';
//      src: url('../fonts/Versus-Regular.woff2') format('woff2'),
//          url('../fonts/Versus-Regular.woff') format('woff');
//      font-weight: normal;
//      font-style: normal;
//      font-display: swap;
//  }
 
 
 